:root {
  --background-color: #ffffff;
  --background-color-darker: #f5f5f5;

  --text-color: #222222;
  --text-color-lighter: #454545;
  --text-color-darker: #111111;

  --text-select: rgba(0, 0, 0, 0.25);

  --link-color: #005bac;
  --link-color-visited: #003e75;
}

body {
  background-color: var(--background-color);
  font-size: 15px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.6;

  color: var(--text-color);

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns:
    [side-left] minmax(1.2rem, 1fr)
    [content] minmax(auto, 80ch)
    [side-right] minmax(1.2rem, 1fr);
}

body > * {
  grid-column: content;
}

img {
  width: 100%;
}

::selection {
  background-color: var(--text-select);
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  font-family: Consolas, Menlo, "Liberation Mono", monospace;
  border-radius: 2.5px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background-color: var(--background-color-darker);
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

code {
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: var(--text-color-lighter);
  user-select: none;
}

nav a:visited {
  color: var(--link-color);
}

nav a:not(:last-child) {
  margin-right: 2rem;
}

article {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article > time {
  color: var(--text-color-lighter);
}

footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--text-color-lighter);
  user-select: none;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  header {
    padding-top: 2rem;
  }
}

@media (max-width: 400px) {
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--text-color-darker);
    filter: invert(100%);
  }

  img {
    filter: invert(100%);
  }
}
