:root {
  --background-color: #ffffff;
  --background-color-darker: #f5f5f5;
}

:root {
  --background-color: #fff;
  --background-color-darker: #f5f5f5;
  --background-color-darkest: #e5e5e5;

  --foreground-color: #333;
  --foreground-color-lighter: #555;
  --foreground-color-darker: #111;
  --foreground-color-lightest: #666;
  --foreground-color-darkest: #000;

  --accent-color: #005bac;
  --accent-color-alt: #531ba6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.7;
  color: var(--foreground-color);
}

::selection {
  background-color: var(--background-color-darkest);
}

html {
  font-size: 14px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

a:visited {
  color: var(--accent-color-alt);
}

a:hover {
  cursor: pointer !important;
  text-decoration: underline;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: oblique;
}

li {
  margin-left: 1em;
}

li + li {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ol li {
  list-style: lower-roman;
}

ul li {
  list-style: circle;
}

li > ul,
li > ol {
  margin-bottom: -1em;
}

li:has(ul), li:has(ol) {
  opacity: 0.5;
}

pre,
pre code,
table {
  font-family: Consolas, Menlo, "Liberation Mono", monospace;
  font-weight: normal;
  font-size: 0.9em;
  color:var(--background-color-darker);
  background: var(--foreground-color-darker);
}

pre,
pre code,
code {
  border: none;
  border-radius: 2.5px;
  padding-left: 0.33em;
  padding-right: 0.33em;
  margin: 0;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-family: Consolas, Menlo, "Liberation Mono", monospace;
  border: 1px solid var(--background-color-darkest);
  background-color: var(--background-color-darkest);
  color: var(--foreground-color);
  border-top-width: 2px;
  border-bottom-width: 2px;
  font-size: 0.9em;
}

pre code {
  font-size: 1em;
}

pre::selection {
  background-color: var(--foreground-color-lightest) !important;
}

pre *::selection {
  background-color: var(--foreground-color-lightest) !important;
}

code::selection {
  background-color: var(--background-color) !important;
}

code *::selection {
  background-color: var(--background-color) !important;
}

pre code::selection {
  background-color: var(--foreground-color-lightest) !important;
}

pre code *::selection {
  background-color: var(--foreground-color-lightest) !important;
}

table::selection {
  background-color: var(--foreground-color-lightest) !important;
}

table *::selection {
  background-color: var(--foreground-color-lightest) !important;
}

div.table-wrapper {
  border: 1px solid var(--foreground-color-lighter);
  border-radius: 4px;
  position: relative;
  overflow-y: auto;
}

table {
  border-collapse:collapse;
  min-width: 100%;
}

tr {
  background-color: var(--foreground-color-darker);
}

td, th {
  padding: 1em;
}

td + td,
th + th {
  border-left: 1px solid var(--foreground-color-lighter);
}

thead {
  border-bottom: 1px solid var(--foreground-color-lighter);
}

tr + tr {
  border-top: 1px solid var(--foreground-color-lighter);
}

tr:hover td {
  background-color: var(--foreground-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "side-left header  side-right"
                       "side-left title   side-right"
                       "side-left time    side-right"
                       "side-left content side-right";
  grid-template-columns: minmax(1.2rem, 1fr) minmax(0, 80ch) minmax(1.2rem, 1fr);
}

body > * {
  grid-column: content;
}

h1:first-of-type {
  grid-area: title;
}

label.subheading {
  grid-area: time;
  justify-content: space-between;
  color: var(--foreground-color-lighter);
  margin-top: -0.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0.25rem;
}

img {
  width: 100%;
}

a[target="_blank"] > img {
  margin-top: 1.5rem;
  border-radius: 3px;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: var(--foreground-color-lighter);
  user-select: none;
}

nav a:visited {
  color: var(--accent-color);
}

nav a + a {
  margin-left: 2rem;
}

footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--foreground-color-lighter);
  user-select: none;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  header {
    padding-top: 2rem;
  }

  ul,
  ol {
    padding-left: 1rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }

  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--foreground-color-darker);
    filter: invert(100%);
  }

  img {
    filter: invert(100%);
  }
}

.label-list,
.post-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.post-list li {
  margin-left: 0;
  display: grid;
  grid-template: "link time"
                 "tags tags";
  grid-template-columns: 2fr 1fr;
}

.post-list a {
  grid-area: link;
  padding-bottom: 0.125em;
}

.post-list time {
  grid-area: time;
  text-align: right;
  opacity: 0.75;
  font-size: 0.9rem;
}

.post-list .labels {
  grid-area: tags;
}

.labels {
  display: inline-block;
}

.labels a {
  display: inline-block;
  background-color: var(--background-color-darker);
  text-decoration: none;
  color: var(--foreground-color-lighter);
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 3px;
  margin-bottom: 0.15rem;
  margin-top: 0.15rem;
  margin-right: 0.15rem;
}

.labels a:hover {
  filter: brightness(95%);
}

