<%= if @show_list_button do %>
<label class="subheading">
  <em>Approx. <%= @post.reading_time_minutes %> minute reading time</em>
</label>
<% end %>

<%= raw @post.content %>

<%= if @show_list_button do %>
<p>
  <a href="<%= @post.source_url %>#new_comment_field">Join the discussion</a>
  or
  <a href="/posts">Return to Posts →</a>
</p>
<% end %>
